<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <title>Main</title>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>

<body>


<div th:if="${error}">
    <p th:text="${error}" style="color:red;"></p>
</div>


<div th:if="${success}">
    <p th:text="${success}" style="color:green;"></p>
</div>


<div class="mt-3">
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Производимый товар</th>
            <th>Кол-во сотрудников</th>
            <th>Адрес</th>
            <th>Глава</th>
            <th>Основан</th>
            <th>Доход</th>
            <th>Удаление</th>
        </tr>
        <tr th:each = "factory,stat : ${factories}">
            <td th:text="${factory.id}"> </td>
            <td th:text="${factory.name}"> </td>
            <td th:text="${factory.product}"> </td>
            <td th:text="${factory.workers}"> </td>
            <td th:text="${factory.address}"> </td>
            <td th:text="${factory.director}"> </td>
            <td th:text="${factory.founded}"> </td>
            <td th:text="${factory.income}"> </td>
            <td>
                <form th:action="@{/deletefactory}" method="post">
                    <input type="hidden" name="factoryId" th:value="${factory.id}" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>


        </tr>
    </table>
</div>

<div class="common_box_body test">

    <h3> Добавление завода</h3>

    <form name="Машина" class="needs-validation" modelAttribute="factory" novalidate action="#" id="ncar" th:action="@{/factory}" th:object="${factory}" method="post">
        <input type="text" id="rn" name="Name" th:field="*{name}" class="form-control mb-2" placeholder="Название компании">
        <div class="invalid-feedback mt-0 mb-2">
            Введите название
        </div>

        <input type="text" name="Product" th:field="*{product}" class="form-control mb-2" placeholder="Производимая продукция" required>
        <div class="invalid-feedback mt-0 mb-2">
            Введите производимый товар
        </div>

        <input type="text" name="Workers" th:field="*{workers}" class="form-control mb-2" placeholder="Количество сотрудников" required>
        <div class="invalid-feedback mt-0 mb-2">
            Введите количество сотрудников
        </div>
        <input type="text" name="Address" th:field="*{address}" class="form-control mb-2" placeholder="Адрес" required>
        <div class="invalid-feedback mt-0 mb-2">
            Введите адрес
        </div>
        <input type="text" name="Director" th:field="*{director}" class="form-control mb-2" placeholder="Глава" required>
        <div class="invalid-feedback mt-0 mb-2">
            Введите имя главы
        </div>
        <input type="text" name="Income" th:field="*{income}" class="form-control mb-2" placeholder="Доход" required>
        <div class="invalid-feedback mt-0 mb-2">
            Введите доход
        </div>

        <div class="form-group blu-margin">
            <select class="form-control" name="companyByCompanyId"  id="dropOperator">
                <option value="0">Выберите компанию</option>
                <option   th:each="company : ${companies}" th:value="${company.id}" th:text="${company.name}"></option>
            </select>
        </div>

        <input type="submit" class="btn btn-success" value="Создать"> <br><br>
    </form>

    <h3> Изменить количество сотрудников</h3>

    <form name="Машина" class="needs-validation" modelAttribute="factory" novalidate action="#" id="nca" th:action="@{/workersfactory}" th:object="${factory}" method="post">

        <div class="form-group mb-2">
            <select class="form-control" th:field="*{id}"  id="factory" name="factory">
                <option value="0">Выберите завод</option>
                <option   th:each="factory : ${factories}"  th:value="${factory.id}" th:text="${factory.id}"></option>
            </select>
        </div>

        <input type="text" name="Workers" th:name="workers" class="form-control mb-2" placeholder="Сотрудники" required>
        <div class="invalid-feedback mt-0 mb-2">
            Введите количество сотрудников
        </div>

        <input type="submit" class="btn btn-success" value="Изменить"> <br><br>
    </form>

    <h3> Изменить доход</h3>
    <form name="Машина" class="needs-validation" modelAttribute="factory" novalidate action="#" id="nc" th:action="@{/incomefactory}" th:object="${factory}" th:method="post">
        <div class="form-group mb-2">
            <select class="form-control" th:field="*{id}"  id="factory1" name="factory">
                <option value="0">Выберите завод</option>
                <option   th:each="factory : ${factories}" th:value="${factory.id}" th:text="${factory.id}"></option>
            </select>
        </div>

        <input type="text" name="Income"  th:name="income" class="form-control mb-2" placeholder="Доход" required>
        <div class="invalid-feedback mt-0 mb-2">
            Введите доход
        </div>

        <input type="submit" class="btn btn-success" value="Изменить"> <br>
    </form>

</div>
<br>
<br>
<a href="/">
    <input type="button" class="btn btn-success" value="Назад">
</a>
<br>
<br>

</body>
</html>